@font-face {
    font-style: 'Futura';
    src: url('./unicode.futurab.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    
}

.container {
    margin: auto;
    width: 80%;
    height: 100%;
}

#pertama {
    background: #45D354;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

#pertama .gambar {
    background: url(./asset/Background.png);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}
#pertama .konten {
    margin: auto;
    display: flex;
    height: 100%;
}
.konten .judul {
    margin: auto;
    align-items: center;
    justify-content: center;
}

.konten .judul h1, .judul p {
    font-family: 'Futura';
    text-align: center;
    font-size: 74px;
}

.konten .judul h1 {
    font-size: 74px;
}

.konten .judul p {
    font-size: 26px;
}

#kedua {
    background-color: #45D354;
    width: 100%;
    height: 615px;
}
#kedua .dua {
    display: flex;
}

#kedua .main {
    margin: auto;
    align-items: center;
}

#kedua .judul h1 {
    font-family: 'Futura';
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

#kedua .konten {
    display: flex;
}

#kedua .konten .row:nth-last-child(2) {
    margin: 0 30px;
}

#kedua .konten .row {
    margin: auto;
    justify-content: center;
    text-align: center;
}

#kedua .konten .row .d-dua {
    margin: 25px 0 auto auto;
}
#kedua .konten .row .isi h2 {
    font-size: 14px;
}

#kedua .konten .row .isi p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-weight: lighter;
}

#kedua .konten .row .tiga {
    margin: 40px 0 auto  auto;
}


#ketiga {
    background-color: #45D354;
    width: 100%;
    height: 615px;
}

#ketiga .k-main {
    margin: auto;
    height: 100%;
    align-items: center;
}

.k-judul h1 {
    padding-top: 80px;
    font-size: 30px;
    font-family: 'Futura';
    text-align: center;
    margin-bottom: 80px;
}

#ketiga .k-konten{
    display: flex;
    margin: auto;
    align-items: center;
}


#ketiga .k-konten .row {
    margin: auto;
    justify-content: center;
    text-align: center;
}

#ketiga .k-konten .row:nth-last-child(2) {
    margin: 0 25px;
}

#ketiga .k-konten .row .k-isi h3 {
    margin: 25px 0px 10px 0;
}

#ketiga .k-konten .row .k-isi p {
    font-size: 15px;
}

#empat{
    background: #45D354;
    padding: 150px 0;
}

#empat .e-main h1 {
    margin: 50px;
    text-align: center;
}

#empat .e-main .e-konten {
    display: flex;
    justify-content: space-between;
}

#empat .e-main .e-konten .row img {
    height: 200px;
}


#empat .e-main .e-konten .row h3, 
#empat .e-main .e-konten .row p{
    text-align: center;
}

#empat .e-main .e-konten .row h3 {
    margin-top: 25px;
}

#lima .l-main {
    display: flex;
}

.kiri {
    margin: auto;
    display: flex;
    width: 50%;
    justify-content: center;
}



.kiri .img {
    display: flex;
    width: 100%;
    justify-content: center;
}
.kiri img {
    width: 400px;
}

.kanan {
    width: 50%;
    background: #404B0C;
}
.l-konten {
    display: flex;
}